.movie-item {
  margin-bottom: 25px;
}

.movie-list.uk-grid {
  margin: 0px 25px 0px 0px;
}

@media (min-width: 960px) {
  .movie-list.uk-grid {
    width: 935px;
    margin: 0 auto;
  }
}

.movie-item .uk-thumbnail {
  padding: 0px;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  background-color: #fff;
}

.movie-item .uk-thumbnail-caption {
  padding: 8px 8px 20px 8px;
  text-align: left;
}

.movie-item .uk-thumbnail-caption > p {
  margin: 4px 0px 4px 0px;
}
